@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
    --background-color: #E1F1FD;
    --color1: 243, 248, 255;
    --color2: #242424;
    --color3: #4189e0;
    --aside-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background: var(--background-color);
    overflow: hidden;
}

aside {
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--aside-color);
}

.counter-display {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color2);
    color: #FFFFFF;
}

.counter-display div {
    width: 50%;
    text-align: center;
}

.alert-condition {
    width: 100%;
    height: 5%;
    padding: .1rem;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 138);
    margin-bottom: 2rem;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 1rem;
    box-shadow: 0 0 8px -3px rgba(0, 0, 0, 0.4);
    border-radius: .5rem;
}



tbody tr:nth-child(even) {
    background: rgba(var(--color1), 0.8);
}

tbody tr:nth-child(n+10) {
    visibility: hidden;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: var(--background-color);
    color: var(--color2);
}

td {
    color: var(--color2);
}

section {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal-options {
    position: absolute;
    z-index: 2;
    padding: 1rem;
    right: 0rem;
    bottom: 5rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: .4rem;
}

.modal-options div {
    transform: translateY(2rem);
    transition: all 0.5s ease; 
    opacity: 0;
    transition-delay: calc(.1s * var(--i));
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}

div.modal-show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.modal-image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--aside-color);
    box-shadow: 0 0 8px -3px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .2s;
}

.modal-image img {
    width: 1rem;
    height: 1rem;
    transition-delay: 350ms;
}

.modal-image:hover {
    cursor: pointer;
    background-color: var(--modal-color);
}

.modal-image:hover img {
    filter: invert(100%) sepia(93%) saturate(0%) hue-rotate(292deg) brightness(107%) contrast(106%);
}

.open-configs {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    z-index: 3;
    background-color: var(--aside-color);
    border-radius: 50%;
    box-shadow: 0 0 8px -3px rgba(0, 0, 0, 0.4);
}

.open-configs #open-img {
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(45deg);
    transition: .7s;
    transition-delay: .2s;
}

.config-is-open #open-img {
    transform: rotate(270deg);
    filter: invert(54%) sepia(76%) saturate(5452%) hue-rotate(335deg) brightness(104%) contrast(87%);
}

.open-configs:hover {
    cursor: pointer;
    transition: 200ms;
}

form {
    width: 60%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--aside-color);
    box-shadow: 0 0 8px -3px rgba(0, 0, 0, 0.4);
    border-radius: .5rem;
    padding: .5rem;
    position: relative;
}

fieldset {
    width: 80%;
    display: flex;
    flex-direction: column;
    border: none;
    gap: .2rem;
}

form label {
    margin-top: .5rem;
}

form input, form select, button {
    height: 2.5rem;
    padding: .4rem;
    border-radius: .3rem;
    border: 1px solid #ccc;
    cursor: pointer;
}

.cpf_search {
    display: flex;
    align-items: center;
}

.cpf_search input {
    width: 100%;
}

.urgency-level {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

input[type="radio"] {
    display: none;
}

.urgency-level label {
    width: 49%;
    padding: .5rem;
    font-size: .8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 2px solid #e7e7e7;
    border-radius: .3rem;
    gap: .2rem;
}

.urgency-level label:before {
    content: "";
    height: .5rem;
    width: .5rem;
    border: 3px solid #e7e7e7;
    border-radius: 50%;
}

input[type="radio"]:checked + label:before {
    background-color: var(--radiocolor);

}

input[type="radio"]:checked + label {
    background-color: var(--radiocolor);
    border-color: var(--radiocolor);
    color: var(--color2);
}

button {
    margin-top: 5%;
    color: #FFFFFF;
    background-color: var(--color2);
    transition: background-color 0.3s;
}

button.hidden {
    display: none;
}

button:hover {
    background-color: var(--color3);
}

input.halfwidth, label.halfwidth, button.halfwidth {
    width: 50%;
}
